{% extends 'base.html' %}

{% block content %}

<h1 class="text-4xl font-bold mb-10">
    Dashboard
</h1>

<div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-10">

    <!-- Total Interviews -->

    <div class="bg-white p-8 rounded-2xl shadow">

        <h2 class="text-gray-500 text-sm">
            Total Interviews
        </h2>

        <h1 class="text-4xl font-bold mt-4">
            {{ total_interviews }}
        </h1>

    </div>

    <!-- Average Score -->

    <div class="bg-white p-8 rounded-2xl shadow">

        <h2 class="text-gray-500 text-sm">
            Average Score
        </h2>

        <h1 class="text-4xl font-bold mt-4">
            {{ average_score }}/10
        </h1>

    </div>

</div>


<!-- Recent Interviews -->

<div class="bg-white p-8 rounded-2xl shadow">

    <h2 class="text-2xl font-bold mb-6">
        Recent Interviews
    </h2>

    {% if recent_interviews %}

        <div class="space-y-4">

            {% for interview in recent_interviews %}

                <div class="border p-4 rounded-xl">

                    <div class="flex justify-between items-center">

                        <div>

                            <h3 class="text-xl font-semibold">
                                {{ interview.category.name }}
                            </h3>

                            <p class="text-gray-500">
                                {{ interview.created_at }}
                            </p>

                        </div>

                        <div class="text-right">

                            <h2 class="text-2xl font-bold">
                                {{ interview.score }}/10
                            </h2>

                            <p class="text-sm text-gray-500">
                                {{ interview.performance }}
                            </p>

                        </div>

                    </div>

                </div>

            {% endfor %}

        </div>

    {% else %}

        <p class="text-gray-500">
            No interviews completed yet.
        </p>

    {% endif %}

</div>

{% endblock %}