{% extends 'base.html' %}

{% block content %}

<div class="max-w-md mx-auto bg-white p-8 rounded-2xl shadow mt-20">

    <h2 class="text-3xl font-bold mb-6 text-center">
        Login
    </h2>

    <form method="POST">

        {% csrf_token %}

        <input type="text"
               name="username"
               placeholder="Username"
               class="w-full border p-3 rounded-xl mb-4">

        <input type="password"
               name="password"
               placeholder="Password"
               class="w-full border p-3 rounded-xl mb-4">

        <button type="submit"
                class="w-full bg-black text-white p-3 rounded-xl">

            Login

        </button>

    </form>

</div>

{% endblock %}